# system
.DS_Store

# secrets — never commit
.streamlit/secrets.toml

# python
venv/
__pycache__/
*.pyc

# raw data
data/raw/*
!data/raw/.gitkeep

# processed large files
data/processed/*
data/mart/*
